{% extends 'base.html.twig' %}

{% block body %}
<div id="wrapper">
  <div class="container">
    <h1 align="center" ><span>Affichages des musses</span> par 10 </h1>
    <table class="table">
        <th>Id</th>
        <th>Nom</th>
        <th>Adresse</th>
        <th>Plus d'informations </th>

        {% for key, musee in tableau %}
        <tr>
            <td>{{ musee.id }} </td>
            <td>{{ musee.nom }} </td>
            <td>{{ musee.adresse }}  </td> 
            <td><a href="{{musee.key}}"> Plus d'info.. </a> </td> 
        </tr>
        {% endfor %}

        <tr>
            <td align="center"><a class="btn btn-info" href='{{ debut }}' role="button">Début</a> </td> 
            <td align="center"><a class="btn btn-success" href='{{ precedent }}' role="button"> Précédent</a> </td> 
            <td align="center"><a class="btn btn-success" href='{{ suivant }}' role="button">Suivant</a> </td>
            <td align="center"><a class="btn btn-info" href='{{ dernier }}' role="button">Dernier </a> </td>
            <td align="center"><a class="btn btn-info" href='/' role="button">Accueil</a> </td> 
        </tr>
    </table>

</div>
</div>
{% endblock %}
