{% extends 'base.html.twig' %}


{% block body %}
<div id="wrapper">
	<div class="container">
		<h1 align="center" ><span>{{ musee.nom }} </span> </h1>
		<table class="table">
			<th>Nom</th>
			<th>Adresse</th>
			<th>Site web</th>
			<th>Ville</th>
			<th>Ouvert ?</th>
			<th>Note</th>

			<tr>
				<td>{{ musee.nom }} </td>
				<td>{{ musee.adresse }}  </td> 
				<td><a href="http://{{ musee.siteWeb }}">{{ musee.siteWeb }}</a> </td>
				<td>{{ musee.ville }} </td>
				<td>{{ musee.statut }} </td>
				<td>{{ note }}  </td> 
			</tr>
		</table>
		<h1 align="center" ><span>Commentaires </span> </h1>

		<table class="table">

			<th>Auteur</th>
			<th>Commentaire</th>
			<th>Date</th>
			<th>Note</th>

			{% for key, comment in comments %}
			<tr>
				<td>{{ comment.auteur }} </td>
				<td>{{ comment.contenu }}  </td> 
				<td>{{ comment.date|date('d/m/Y H:i') }} </td> 
				<td>{{ comment.note}} </td> 
			</tr>
			{% endfor %}


			<tr>
				<td></td>
				<td align="center"><a class="btn btn-info" href='/{{ retour }}' role="button">Retour</a> </td> 
				<td></td>
				<td></td>
			</tr>
		</table>

		<h1 align="center" ><span>MAP </span> </h1>
		<div id="map" style="height: 500px;"></div>

		<h1 align="center" ><span>Ajouter un commentaire </span> </h1>

		{{ form_start(form) }}
		{{ form_widget(form) }}
		{{ form_end(form) }}

		<!--<div class="form-group">
			<label>Auteur</label>
			<input type="text" class="form-control"  placeholder="{{ form_widget(form.auteur) }}">
			<label>Commentaire</label>
			<input type="text" class="form-control"  placeholder="{{ form_widget(form.Commentaire) }}">
			<label>Note</label>
			{{ form_widget(form.Note) }}
		</div>-->	



<script>
function draw_map(data) {  
  var map = L.map('map');
  var osmUrl='http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
  var osmAttrib='Map data © <a href="http://openstreetmap.org">OpenStreetMap</a> contributors';
  var osm = new L.TileLayer(osmUrl, {minZoom: 8, maxZoom: 14, attribution: osmAttrib});		
  map.setView(new L.LatLng(48.86, 2.34),12);
  map.addLayer(osm);
  var marker;
  data.forEach(function(musee){
    marker = L.marker([musee.lat, musee.lon]).addTo(map);
    marker.bindPopup("<b>"+musee.nom+"</b>").openPopup();
  });
  marker.openPopup();
}

var data = [
  {
    nom:'{{ musee.nom }} ',
    lat:'{{ lat }}',
    lon:'{{ lon }}'
  }
];

draw_map(data);

</script>
	
	</div>
</div>
{% endblock %}
