{% extends 'base.html.twig' %}


{% block body %}


<div id="wrapper">
	<div class="container">
		<h1 align="center" ><span>{{ musee.nom }} </span>   </h1>
		<table class="table table-striped">
			<tr><th>Nom</th>
				<td>{{ musee.nom }} </td>
			</tr>
			<tr><th>Adresse</th>
				<td>{{ musee.adresse }}  </td> 
			</tr>
			<tr><th>Site web</th>
				<td><a href="http://{{ musee.siteWeb }}" target="_blank"  >{{ musee.siteWeb }}</a> </td>
			</tr>
			<tr><th>Ville</th>
				<td>{{ musee.ville }} </td>
			</tr>
			<tr><th>Ouvert ?</th>
				<td>{{ musee.statut }} </td>
			</tr>
			<tr>
				<td colspan="2">	<div  id="map" style="height: 400px;"></div>	</td> 
			</tr>

			<tr><th>Note</th>
				<td><span class="stars">{{ note }}</span> </td> 
			</tr>
		</table>



		<h1 align="center" ><span>Commentaires </span> </h1>
		<table class="table">
			<th>Auteur</th>
			<th>Commentaire</th>
			<th>Date</th>
			<th>Note</th>
			{% for key, comment in comments %}
			<tr>
				<td>{{ comment.auteur }} </td>
				<td>{{ comment.contenu }}  </td> 
				<td>{{ comment.date|date('d/m/Y H:i') }} </td> 
				<td>{{ comment.note}} </td> 
			</tr>
			{% endfor %}
		</table>

				{% if is_granted('ROLE_USER') %}
	<a class="btn btn-primary btn-lg btn-block" href='/unMusee/{{ musee.id }}/comment'   >Commenter</a> 

			{% endif %}



				{% if is_granted('ROLE_ADMIN') %}
	<a class="btn btn-warning btn-lg btn-block" href='/unMusee/{{ musee.id }}/edit'   >Modifier</a> 
	<a class="btn btn-danger btn-lg btn-block" href='/unMusee/{{ musee.id }}/delete'   >Supprimer</a> 

			{% endif %}

	<a class="btn btn-primary btn-lg btn-block" href='/{{ retour }}'   >Retour</a> 




		<script>
			function draw_map(data) {  
				var map = L.map('map');
				var osmUrl='http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
				var osmAttrib='Map data © <a href="http://openstreetmap.org">OpenStreetMap</a> contributors';
				var osm = new L.TileLayer(osmUrl, {minZoom: 8, maxZoom: 14, attribution: osmAttrib});		
				map.setView(new L.LatLng(48.86, 2.34),12);
				map.addLayer(osm);
				var marker;
				data.forEach(function(musee){
					marker = L.marker([musee.lat, musee.lon]).addTo(map);
					marker.bindPopup("<b>"+musee.nom+"</b>").openPopup();
				});
				marker.openPopup();
			}

			var data = [
			{
				nom:'{{ musee.nom }} ',
				lat:'{{ lat }}',
				lon:'{{ lon }}'
			}
			];

			draw_map(data);

		</script>
		<style type="text/css">
			span.stars, span.stars span {
				display: block;
				background: url(/stars.png) 0 -16px repeat-x;
				width: 80px;
				height: 16px;
			}

			span.stars span {
				background-position: 0 0;
			}



		</style>

		<script type="text/javascript">
			$.fn.stars = function() {
				return $(this).each(function() {
        // Get the value
        var val = parseFloat($(this).html());
        // Make sure that the value is in 0 - 5 range, multiply to get width
        var size = Math.max(0, (Math.min(5, val))) * 16;
        // Create stars holder
        var $span = $('<span />').width(size);
        // Replace the numerical value with stars
        $(this).html($span);
    });
			}

		</script>

		<script type="text/javascript">
			$(function() {
				$('span.stars').stars();
			});
		</script>

	</div>
</div>
{% endblock %}
